/* pagina bebidas */
.card-body {
    color: #0a0a09;
    align-items: center;
    .card-text {
        font-size: 1rem;
    }
}
.card-color {
    background-color: map-get($grays, "500");
    
}
div.container {
    .drinkcont {
        .drinkbox { 
            padding: 4rem;
            
        }
    }
}