/* pagina envios */
.tituloenvio {
    text-align: center;
    margin: 1.5rem;
}
div.container-g {
    margin: 0.5rem 30%;
}
.tituloenvio2 {
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 2rem;
}
.h3ubi {
    text-align: center;
    margin: 2rem auto
}
iframe#ubimaps {
    width: 800px;
    height: 500px;
    margin: 0 auto;
    display: block;
}