/* pagina faq */
div#imgfaq {
    text-align: center;
}
div.faqcontent {
    margin: 1rem 10%;
    h3.faqtitle {
        border-style: dashed;
        display: block;
        margin: 0 45% 0 45%;
    }
} 