/* FOOTER */
footer {
    color: rgb(81, 62, 87);
    text-align: center;
    grid-area: footer;
    .redes {
        background-color: $sec-color;
        margin-bottom: 0;
        }
    .redes-icons {
        background-color: $sec-color;
        a {
            font-size: 2rem;
            padding-right: 1rem;
            color: rgb(81, 62, 87);
            &:hover {
                color: aliceblue;
                transition: 0.5s;
            }
        }
    }
}