/* media queries mobile */
@media (max-width: 480px) {
    body {
    grid-template-columns: auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
    }
    header {
    display: flex;
    font-size: 1rem;
        .contenedor {
        width: 100%;
        text-align: center;
        font-size: 1rem;
        a#title {
            font-size: 2rem;
        }
        .nav__list {
            flex-wrap: wrap;
            font-size: 1.5rem;
            padding-left: 0;
        }
        .searchBox {
            display: none;
        }
        }
    }
    main {
    width: 100%;
    text-align: center;
        .iframe-yt iframe {
        width: 100%;
    }
    }
    footer {
        .redes-icons a {
            font-size: 4rem;
            margin-right: 1rem;
        }
    }
    /* MEDIA QUERIES FAQ */
    .img-foco {
    display: none;
    }
    section.faqcontent {
      padding: 1rem;
      h3.faqtitle {
        font-size: 2rem;
        padding: 0.3rem;
        margin: 1rem 15%;
        border-style: dashed;
        display: inline-block;
      }
      p.titulofaq {
        font-size: 1.5rem;
      }
      div.faq {
        font-size: 1.2rem;
      }
    }
    /* MEDIA QUERIE AYUDA */
    #form {
      fieldset.form-alineado {
        margin: 1rem 0.5rem;
        label {
          display: block;
        }
        input[type="text"] {
          width: 70%;
        }
        input[type="submit"],
        input[type="reset"] {
          font-size: 2rem;
          display: block;
          margin: 1rem auto;
        }
        select#formulario {
          width: 70%;
          height: 2rem;
        }
        textarea#mensaje {
          width: 80%;
        }
        label.form-label {
          font-size: 1rem;
        }
      }
    }
    h3.contenedor {
      font-size: 1.5rem;
    }
    div.adjuntar.mb-3 {
      margin: 0.1rem;
    }
    /* media queries envios */
    h1.tituloenvio {
      font-size: 2rem;
    }
    div.container-g {
      margin: 0.5rem auto;
      .table {
        font-size: 1rem;
      }
    }
    h2.tituloenvio2 {
      font-size: 1.8rem;
    }
    /* media querie promo */
    .slide {
        margin-top: 2rem;
        .carousel-item {
          height: auto;
      }
    }
    img.bigsale {
      width: 80%;
    }
    .grid__promo {
      display: flex;
      flex-wrap: wrap;
      .card-image {
        width: 100%;
        img {
          width: 100%;
        }
      }
    }
}
/* media querie hasta desktop (md) */
@media (max-width: 1200px) {
.searchBox {
  display: none;
}
.slider-cont .wrapper {
  width: 75vw;
  height: 40vw;
}
main {
  width: 100%;
  text-align: center;
  font-size: 2rem;
}
.contenedor {
  width: 100%;
  text-align: center;
  font-size: 1rem;
}
footer {
  font-size: xx-large;
  .redes-icons a {
    font-size: 5rem;
    margin-right: 1rem;
  }
}
/* media querie md ayuda*/
#form {
  fieldset.form-alineado {
    margin: 2rem 15%;
    margin: 5%;
    font-size: 1.5rem;
    label {
      display: block;
    }
    input[type="text"] {
      width: 60%;
    }
    input[type="submit"],
    input[type="reset"] {
    font-size: 1.5rem;
    display: block;
    margin: 1rem auto;
    }
    select#formulario {
      width: 60%;
      height: 2rem;
    }
    textarea#mensaje {
      width: 80%;
    }
  }
}
h3.contenedor {
  font-size: 1.5rem;
}
div.adjuntar {
  margin: 2rem 15%;
}
/* media querie md envios */
.table {
  font-size: 1.3rem;
}
/* media querie md promos */
.slide {
  .carousel-item {
    height: auto;
  }
}
}
